## Group 2A11
-

## Group Contributions Statement

In [78]:
penguins

,studyName,Sample Number,Species,Region,Island,Stage,Individual ID,Clutch Completion,Date Egg,Culmen Length (mm),Culmen Depth (mm),Flipper Length (mm),Body Mass (g),Sex,Delta 15 N (o/oo),Delta 13 C (o/oo),Comments
0,PAL0708,1,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A1,Yes,11/11/07,39.1,18.7,181.0,3750.0,MALE,NaN,NaN,Not enough blood for isotopes.
1,PAL0708,2,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N1A2,Yes,11/11/07,39.5,17.4,186.0,3800.0,FEMALE,8.94956,-24.69454,NaN
2,PAL0708,3,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A1,Yes,11/16/07,40.3,18.0,195.0,3250.0,FEMALE,8.36821,-25.33302,NaN
3,PAL0708,4,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N2A2,Yes,11/16/07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Adult not sampled.
4,PAL0708,5,Adelie Penguin (Pygoscelis adeliae),Anvers,Torgersen,"Adult, 1 Egg Stage",N3A1,Yes,11/16/07,36.7,19.3,193.0,3450.0,FEMALE,8.76651,-25.32426,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
339,PAL0910,120,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N38A2,No,12/1/09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
340,PAL0910,121,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N39A1,Yes,11/22/09,46.8,14.3,215.0,4850.0,FEMALE,8.41151,-26.13832,NaN
341,PAL0910,122,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N39A2,Yes,11/22/09,50.4,15.7,222.0,5750.0,MALE,8.30166,-26.04117,NaN
342,PAL0910,123,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N43A1,Yes,11/22/09,45.2,14.8,212.0,5200.0,FEMALE,8.24246,-26.11969,NaN
343,PAL0910,124,Gentoo penguin (Pygoscelis papua),Anvers,Biscoe,"Adult, 1 Egg Stage",N43A2,Yes,11/22/09,49.9,16.1,213.0,5400.0,MALE,8.36390,-26.15531,NaN

## Data Import and Cleaning

In [79]:
#imports
import numpy as np
from matplotlib import pyplot as plt
import pandas as pd
from sklearn import preprocessing
le=preprocessing.LabelEncoder()
from sklearn.model_selection import train_test_split

#getting the data
url = "https://philchodrow.github.io/PIC16A/datasets/palmer_penguins.csv"
penguins = pd.read_csv(url)


#splitting the data set
X=penguins[["Culmen Depth (mm)", "Body Mass (g)"]]
y=penguins["Species"]


X_train,X_test=train_test_split(X,test_size=.2)
y_train,y_test=train_test_split(y,test_size=.2)

X_train

     Culmen Depth (mm)  Body Mass (g)
31                18.1         3900.0
109               19.0         4775.0
38                19.3         3300.0
1                 17.4         3800.0
257               17.3         5250.0
..                 ...            ...
126               17.6         3275.0
229               15.4         5150.0
258               13.6         4350.0
106               17.2         3750.0
228               13.4         4400.0

[275 rows x 2 columns]

In [80]:
#simplify species names
y_train=y_train.str.split().str.get(0)
y_test=y_test.str.split().str.get(0)

X_train #currently has 275 rows
#get rid of nans. is it possible to have nans in different rows for culmen depth and body mass, 
#would that affect data cleaning

X_train=X_train.dropna()  #273
X_test=X_test.dropna()
y_train=y_train.dropna()  #273
y_test=y_test.dropna()

#changing species names to numbers
y_train=le.fit_transform(y_train)
y_test=le.fit_transform(y_test)   #do we need to shorten names and change numbers?




#X_train[X_train["Culmen Depth (mm)"]==np.nan] #no nan values in X_train or X_test

array([0, 0, 0, 0, 1, 0, 0, 0, 2, 0, 0, 1, 1, 0, 0, 2, 0, 0, 2, 2, 1, 0,
       0, 0, 0, 2, 2, 1, 0, 0, 0, 0, 1, 0, 0, 2, 1, 1, 0, 0, 0, 2, 1, 0,
       2, 0, 0, 0, 2, 2, 0, 0, 0, 0, 1, 0, 2, 0, 0, 2, 2, 2, 0, 0, 2, 0,
       2, 2, 0])

## Exploratory Analysis

## Feature Selection

## Modeling

## Discussion